<% unless session[:current_winner].nil? %>
	<% if session[:current_winner] == "player" %>
		<h1 class="text-success">Congratulations, <%= session[:player_name] %>, you have won!</h1>
	<% elsif session[:current_winner] == "dealer" %>
		<h1 class="text-error">Sorry, <%= session[:player_name] %>, you've lost this round.</h1>
	<% else %>
		<h1 class="text-warning">This round has concluded in a tie.</h1>
	<% end %>
<% end %>

<h2><%= session[:player_name] %>, here's your hand:</h2>

<div class="cards">
	<%= print_hand(session[:player_hand]) %>
	<p><strong><% if session[:current_winner].nil? %>Current Total:<% else %>Your Final Score:<% end %></strong> <%= session[:player_score] %></p>
</div>
<br />
<p><strong>Here's the dealer's hand:</strong></p>
<div class="cards">
	<%= print_hand(session[:dealer_hand]) %>
	<p><strong><% if session[:current_winner].nil? %>Dealer's Score:<% else %>Dealer's Final Score:<% end %></strong> <%= session[:dealer_score] %></p>
</div>
<br /><br />
<% if session[:current_winner].nil? %>
<form action="/game" method="POST">
	<input type="submit" name="action" class="btn btn-success" value="Stay" /> <input type="submit" name="action" class="btn btn-danger" value="Hit" />
</form>
<% else %>
<p><strong>Your wins so far:</strong> <%= session[:player_wins] %></p>
<form action="/new_game" method="POST">
	<input type="submit" class="btn btn-primary" value="Start New Game" />
<% end %>