<% unless session[:current_winner].nil? %>
	<% if session[:current_winner] == "player" %>
		<h2 class="text-success">Congratulations, <%= session[:player_name] %>, you have won!</h2>
	<% elsif session[:current_winner] == "dealer" %>
		<h2 class="text-error">Sorry, <%= session[:player_name] %>, you've lost this round.</h2>
	<% else %>
		<h2 class="text-warning">This round has concluded in a tie.</h2>
	<% end %>
<% end %>

<h3><%= session[:player_name] %>, here's your hand:</h3>

<div class="cards">
	<%= print_hand(session[:player_hand]) %>
	<p><strong><% if session[:current_winner].nil? %>Current Total:<% else %>Your Final Score:<% end %></strong> <%= session[:player_score] %></p>
</div>
<br />
<h3>Here's the dealer's hand:</h3>
<div class="cards">
	<% unless session[:current_winner].nil? %>
		<%= print_hand(session[:dealer_hand]) %>
	<% else %>
		<%= print_dealer_hand %>
	<% end %>
	<% unless session[:current_winner].nil? %><p><strong>Dealer's Final Score:</strong> <%= session[:dealer_score] %></p><% end %>
</div>
<br /><br />
<% if session[:current_winner].nil? %>
<form action="/game" method="POST">
	<input type="submit" name="action" class="btn btn-success" value="Stay" /> <input type="submit" name="action" class="btn btn-danger" value="Hit" />
</form>
<% else %>
<p><strong>Your wins so far:</strong> <%= session[:player_wins] %></p>
<form action="/new_game" method="POST">
	<input type="submit" class="btn btn-primary" value="Start New Game" />
<% end %>